[Unit]
Description=VikACG daily checkin timer

[Timer]
OnCalendar=*-*-* 17:00 Asia/Shanghai
RandomizedDelaySec=3h
Persistent=true

[Install]
WantedBy=timers.target
